.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

.main_resource {
    font-weight: bold;
    padding: 2px 5px;
    margin: 2px 5px;
    border: solid 1px;
    display: inline-block;
}

#canvas {
    cursor: pointer;
}

.button {
    cursor: pointer;
    background-color: rgb(140, 140, 140);
    border: none;
    color: white;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.hidden {
    visibility: hidden;
}

.disabled {
    background-color: rgb(240, 240, 240);
    color: black;
    text-decoration: line-through;
}


